name: GitHub Actions Demo
run-name: MITMI Pipeline
on: [push]
jobs:
    Tests:
        runs-on: ubuntu-latest
        steps:
            - name: Install dependencies
              run: npm i
            - name: Run tests
              run: npm run test
